// HEADER COMPONENT
.header
  &__image
    position: relative
    width: 100%
    height: 60vh
    left: 0
    right: 0
    top: 0
    border-radius: 0 0 1.5rem 1.5rem
  &__title
    color: var(--blue-dark-to-light)
  &__box
    position: relative
    width: calc(100% - 4rem)
    margin-right: auto
    margin-left: auto
    margin-top: -4.5rem
    box-shadow: $shadow-light
    border-radius: 1.5rem
    padding: 1rem 0
    max-width: $md
    background-color: var(--light-to-black)
    body.dark &
      box-shadow: $shadow-dark
    & > *
      padding: 0 1rem
      margin: 0
  &__footer
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding-top: 1rem
    margin-left: 2rem
    margin-right: 2rem
    @media ( min-width: $md + 2.5rem )
      flex-direction: row
  &__info
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: center
    @media ( min-width: $md )
      justify-content: flex-start
    &__box
      display: flex
      justify-content: center
      align-items: center
    &__image
      border-radius: 50%
      width: 2.5rem
      aspect-ratio: 1
      margin-right: .4rem
    &__date, &__reading-time
      i
        margin-right: .4rem
      body.dark &
        color: var(--light)
        margin-left: 0
        margin-right: 0
      @media ( min-width: $md)
        margin-left: .4rem
        margin-right: .4rem
    &__box, &__author, &__date, &__reading-time
      @include body-2
      line-height: 2.5
      padding: 0 1rem
      @media ( min-width: $md )
        padding: 0 .4rem
    &__author
      padding: 0
      color: var(--dark-to-secondary)
  &__action
    padding-top: 1rem
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: 10rem
    @media ( min-width: $md )
      justify-content: space-evenly
      padding-top: initial
    &__link
      width: 1.6rem
      height: 1.6rem
      font-size: .7rem
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      background-color: var(--blue-dark-to-gray-dark)
      cursor: pointer
      transition: box-shadow .3s ease, transform .3s ease
      &:active
        border: .05rem solid var(--primary)
      &:hover
        transform: translateY(5%)
        box-shadow: 0 -.25rem .25rem rgb(0 0 0 / 25%)
        body.dark &
          box-shadow: 0 -.25rem .25rem rgb(255 255 255 / 10%)
      body.dark &
        &:active
          border: .1rem solid rgb(255 255 255 / 10%)
      span,i
        color: var(--light)
      @media ( min-width: $md )
        margin-left: .2rem
        margin-right: .2rem
  @media (min-width: $lg)
    &__image
      height: 80vh
