.mode-button
  display: none
  position: fixed
  right: 1.25rem
  bottom: 5rem
  z-index: 20
  justify-content: center
  align-items: center
  width: 2.5rem
  height: 2.5rem
  border-style: hidden
  border-radius: 50%
  overflow: hidden
  cursor: pointer
  // Desktop
  @media (min-width: $lg)
    right: 2rem
    bottom: 1.4rem
  body.light &
    display: flex
    color: #EEF36A
    background: linear-gradient(40deg, cyan 0%, #0044ff 100%)
    box-shadow: $shadow-light
    .light
      display: inline
    .dark
      display: none
  body.dark &
    display: flex
    color: var(--light)
    background: linear-gradient(40deg, #142F43 0%, #000000 100%)
    box-shadow: $shadow-dark
    .light
      display: none
    .dark
      display: inline
