// TAG COMPONENT
.tag
  @include body-2
  color: var(--light)
  display: inline-block
  margin-right: 8px
  padding: 2px 4px
  border-radius: 8px 8px 8px 0px
  background-color: var(--dark)
  &-youtube
    background-color: #FF0000
    color: var(--light)
  &:first-child
    margin-left: 8px
  &-box
    text-align: center
    padding-top: 16px
    width: 100%
