{
  "arrowParens": "avoid",
  "semi": false,
  "editor.formatOnSave": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "useTabs": false,
  "endOfLine": "lf"
}
