/*******   UTILITIES   *******/
@import './components/normalize';
// @import '../../node_modules/bootstrap/scss/bootstrap-grid';
/*******   MY CODE   *******/
@import './components/variables';
@import './components/fonts';
@import './components/grid';
@import './components/tags';
@import './components/navbar';
.main-post > *{
  margin-top: 16px;
}
.yt-video{
  height: 0px;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}
.yt-video iframe{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}