.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl
  width: 100%
  padding-right: 1rem
  padding-left: 1rem
  margin-right: auto
  margin-left: auto
@media (min-width: $sm)
  .container, .container-sm
    max-width: calc(#{$sm} - 2.25rem)
@media (min-width: $md)
  .container, .container-sm, .container-md
    max-width: calc(#{$md} - 3rem)
@media (min-width: $lg)
  .container, .container-sm, .container-md, .container-lg
    max-width: calc(#{$lg} - 2rem)
    padding-top: 3.5rem
@media (min-width: $xl)
  .container, .container-sm, .container-md, .container-lg, .container-xl
    max-width: calc(#{$xl} - 3.75)
