// VARIABLES

// Colors
$color-primary: #4ECDC4
$color-secondary: #EEF36A
$color-light: #F5F3F5
$color-dark: #242325
$color-blue-dark: #001021
$color-gray-dark: #3C4043
$color-black: #000a14
$color-orange: #FF5959
$color-mustard: #FABB51

$colors: ('primary': #{$color-primary}, 'secondary': #{$color-secondary}, 'light': #{$color-light}, 'dark': #{$color-dark}, 'blue-dark': #{$color-blue-dark}, 'gray-dark': #{$color-gray-dark}, 'black': #{$color-black})

// Shadows
$shadow-light: 0 .25rem 1rem #{$color-black}40
$shadow-dark: 0 .25rem 1rem #{$color-primary}40

// Transitions
$transition-value: .3s ease

html
  @each $name1, $value1 in $colors
    --#{$name1}: #{$value1}
    @each $name2, $value2 in $colors
      @if $name1 != $name2
        --#{$name1}-to-#{$name2}: #{$value1}

// Small devices (landscape phones, 576px and up)
$sm: 36rem

// Medium devices (tablets, 768px and up)
$md: 48rem

// Large devices (desktops, 992px and up)
$lg: 62rem

// Extra large devices (large desktops, 1200px and up)
$xl: 75rem

@media (min-width: $md)
  html
    font-size: 18px
