// VARIABLES
\:root
  // Colors
  --primary: #4ECDC4
  // --secondary: #FFE100
  --secondary: #EEF36A
  --light: #F5F3F5
  --dark: #242325
  --blue-dark: #001021
  --gray-dark: #3C4043
  --black: #000a14
// Small devices (landscape phones, 576px and up)
$sm: 36rem

// Medium devices (tablets, 768px and up)
$md: 48rem

// Large devices (desktops, 992px and up)
$lg: 62rem

// Extra large devices (large desktops, 1200px and up)
$xl: 75rem

@media (min-width: $md) 
  \:root
    font-size: 18px