// VARIABLES
html
  // Colors
  $colors: ( 'primary': '#4ECDC4', 'secondary': '#EEF36A', 'light': '#F5F3F5', 'dark': '#242325', 'blue-dark': '#001021', 'gray-dark': '#3C4043', 'black': '#000a14')

  @each $name1, $value1 in $colors
    --#{$name1}: #{$value1}
    @each $name2, $value2 in $colors
      @if $name1 != $name2
        --#{$name1}-to-#{$name2}: #{$value1}

// Small devices (landscape phones, 576px and up)
$sm: 36rem

// Medium devices (tablets, 768px and up)
$md: 48rem

// Large devices (desktops, 992px and up)
$lg: 62rem

// Extra large devices (large desktops, 1200px and up)
$xl: 75rem

@media (min-width: $md)
  html
    font-size: 18px
