@font-face {
  font-family: 'ea';
  src:  url('fonts/ea.eot?w8n7ck');
  src:  url('fonts/ea.eot?w8n7ck#iefix') format('embedded-opentype'),
    url('fonts/ea.ttf?w8n7ck') format('truetype'),
    url('fonts/ea.woff?w8n7ck') format('woff'),
    url('fonts/ea.svg?w8n7ck#ea') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ea' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-facebook:before {
  content: "\e900";
}
.i-github:before {
  content: "\e906";
}
.i-gitlab:before {
  content: "\e908";
}
.i-instagram:before {
  content: "\e90c";
}
.i-linkedin:before {
  content: "\e90d";
}
.i-pinterest:before {
  content: "\e90e";
}
.i-telegram:before {
  content: "\e90f";
}
.i-twitch:before {
  content: "\e910";
}
.i-twitter:before {
  content: "\e911";
}
.i-whatsapp:before {
  content: "\e912";
}
.i-youtube:before {
  content: "\e913";
}
.i-link:before {
  content: "\e90b";
}
.i-sun-cloud:before {
  content: "\e90a";
}
.i-moon-stars:before {
  content: "\e909";
}
.i-home:before {
  content: "\e901";
}
.i-pen:before {
  content: "\e902";
}
.i-portfolio:before {
  content: "\e903";
}
.i-search:before {
  content: "\e904";
}
.i-share-alt:before {
  content: "\e905";
}
.i-user:before {
  content: "\e907";
}
